:root {

    /*-theadColor: #000;
    --theadTextColor: #fff;  
    --darkColor:#000; 
    --lightColor:#00aeef; 
    --darkRowColor: #1b1d1b; */

    --theadColor: #ff6600e6;
    /*--theadTextColor: #000;*/
    --theadTextColor: #fff; 
    --lightColor:#fff;
    --darkRowColor: #464646;
  }
  
  body {
  
          font-family: "Open Sans", sans-serif;
  
        }
  
        table.dataTable {
  
        /* border:1px solid #000;*/
		   /*border:3px solid #ff6600e6;*/
       /* background-color: #000; */
        background_color: #1d305f;
        border-radius: 8px;
  
        }
  
        th,tr,td
  
        {
  
          border-color: #000 !important;
        
        }
  
        thead {
  
          background-color: var(--theadColor);
  
        }
  
        thead > tr,
  
        thead > tr > th {
  
          background-color: transparent;
  
          color: var(--theadTextColor) !important;
  
          font-weight: normal;
  
          text-align: start;
  
        }
  
        table.dataTable thead th,
  
        table.dataTable thead td {
  
          border-bottom: 0px solid #111 !important;
  
        }
  
        .dataTables_wrapper > div {
  
          margin: 5px;
  
        }
  
        table.dataTable.display tbody tr.odd.selected,
        table.dataTable.display tbody tr.even.selected,
        table.dataTable.display tbody tr.odd.selected > .sorting_1,
        table.dataTable.display tbody tr.even.selected > .sorting_1  { 
          background-color: #576582;
        }
        
		table.dataTable.no-footer {
		 	border:2px solid #ff6600e6;
       border-radius: 8px;
		}
  
  
        table.dataTable.display tbody tr.odd,
        table.dataTable.display tbody tr.odd > .sorting_1 {
  
          background-color: var(--darkRowColor);
  
          color:var(--lightColor);
  
        }
  
        table.dataTable.display tbody tr.even,
        table.dataTable.display tbody tr.even > .sorting_1 {
  
         /* background-color: black;*/
          background-color: #1d305f;
          color:var(--lightColor);
  
        }


        table.dataTable thead th {
  
          font-size: 16px;

          position: relative;
  
          background-image: none !important;
  
        }
  /*
        table.dataTable thead th.sorting:after,
  
        table.dataTable thead th.sorting_asc:after,
  
        table.dataTable thead th.sorting_desc:after {
  
          position: absolute;
  
          top: 12px;
  
          right: 8px;
  
          display: block;
  
          font-family: "Font Awesome\ 5 Free";
  
        }
  
        table.dataTable thead th.sorting:after {
  
          content: "\f0dc";
  
          color: #ddd;
  
          font-size: 0.8em;
  
          padding-top: 0.12em;
  
        }
  
        table.dataTable thead th.sorting_asc:after {
  
          content: "\f0de";
  
        }
  
        table.dataTable thead th.sorting_desc:after {
  
          content: "\f0dd";
  
        }
  
        table.dataTable.display tbody tr:hover > .sorting_1,
  
        table.dataTable.order-column.hover tbody tr:hover > .sorting_1,
  
        tbody tr:hover {
  
          background-color: var(--darkColor) !important;
  
          color: #fff;
  
        }
  
        .dataTables_wrapper .dataTables_paginate .paginate_button.current, 
  
        .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  
               background: none !important;
  
               border-radius: 50px;
  
           background-color: var(--theadColor) !important;
  
           color:var(--lightColor) !important
  
        }
  
        
  
        
  
        .dataTables_wrapper .dataTables_paginate .paginate_button {
  
               background: none !important;
  
           color:var(--lightColor) !important
  
        }
  
  .paginate_button.current:hover
  
  {
  
          background: none !important;
  
               border-radius: 50px;
  
               background-color: var(--theadColor) !important;
  
           color:#fff !important
  
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
  
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  
    border: 1px solid #979797;
  
    background: none !important;
  
    border-radius: 50px !important;
  
     background-color: #000 !important;
  
     color: #fff !important;
  
  }
*/